@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf") format("truetype");
}
:root {
  background-color: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  color: #fff;
  z-index: 10;
  padding: 0.5rem;
}
header section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header section section {
  width: 60%;
}
header section section div h1 {
  font-size: 1rem;
  text-align: center;
}

.logo_y_telefono {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0rem 0.5rem;
}
.logo_y_telefono div {
  width: max-content;
  align-self: center;
}

.div-telefono {
  display: flex;
}
.div-telefono span {
  padding: 0.1rem;
  align-self: center;
  justify-self: center;
  font-size: 0.8rem;
  text-align: center;
  color: #5E3383;
}

#telefono {
  align-self: center;
  justify-self: center;
}

#logo {
  height: 3rem;
  width: auto;
}

/* ********** Botón Menu de hamburguesa ********** */
.menu-btn {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.menu-btn img {
  fill: blue;
}

.none {
  display: none;
}

/* ********** Menu  ********** */
.div-menu {
  position: fixed;
  left: 0;
  bottom: 4.5rem;
}

.menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu ul {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100vw;
  left: 0;
  display: flex;
  flex-direction: column;
}
.menu ul li {
  background-color: rgba(255, 0, 0, 0.5);
  width: 100vw;
}
.menu ul li a {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: var(--first-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu ul li a:hover {
  background-color: var(--first-color);
}
.menu ul li a div {
  padding: 0.5rem 1rem;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 575px) {
  .position {
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.5);
  }
}
/* Estilos para pantallas grandes */
@media screen and (min-width: 576px) {
  .position {
    position: fixed;
    top: 0;
  }
  header {
    background-color: rgba(0, 255, 0, 0.5);
  }
}
@media screen and (min-width: 992px) {
  header {
    background-color: rgba(94, 51, 131, 0.6);
  }
  header section section {
    width: 40%;
    justify-content: space-evenly;
  }
  header section section div h1 {
    margin-left: 5rem;
    font-size: 1.5rem;
    text-align: center;
    width: 45%;
  }
  #logo {
    height: 4.5rem;
    width: auto;
  }
  .menu-btn {
    display: none;
  }
  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }
  .menu ul {
    position: static;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
  }
  .menu ul:hover {
    background-color: transparent;
  }
  .menu ul li {
    position: static;
    padding: 0rem 1rem;
  }
  .menu ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu ul:last-child {
    padding-right: 0;
  }
}
.landing_page {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}/*# sourceMappingURL=index_copy.css.map */