@use "../a_themes/colors" as colores;


    header {
    width: 100%;
    color: colores.$white;
    z-index: 10;
    position: fixed;
    z-index: 999;
    background-color:  colores.$color5;

    section{
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    align-items: center;
    width: 100%;
    position: relative;
        section{
            display: flex;
            justify-content: space-between;
            align-items:center;
            padding: 0.5rem;
            div{
                
                h1{
                    font-size: 1rem;
                    text-align: center;
                    p{
                        padding: 0.3rem 0;
                    }
                }
            }
        }
    }
}

.logo_y_telefono{
    background-color: colores.$white;
    display: flex;
    flex-direction: column;
    padding: 0rem 0.5rem;
    div{
        width: max-content;
        align-self: center;
    }
}

.div-telefono{
    display: flex;
    span{
        padding: 0.1rem;
        align-self: center;
        justify-self: center;
        font-size: 0.8rem;
        text-align: center;
        color: #5E3383;
    }

}

#telefono{
    align-self: center;
    justify-self: center;
}

#logo{
    height: 3rem;
    width: auto;
}

/* ********** Botón Menu de hamburguesa ********** */
.menu-btn {
    //outline: thin solid blue;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.menu-btn img {
    fill: transparent;
}

.none {
    display: none;
}


/* ********** Menu  ********** */


.menu {
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    
        ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        position: absolute;
        top: 5.5rem;
        left:0;
        width:100vw ;
        li{
            a{
                font-size: 1rem;
                font-weight: bold;
                text-align: center;
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items:center;
                color: colores.$white;
                //margin-left: 10rem;
                width: 100vw;
                &:hover {
                    background-color: colores.$color1;
                }
                div{
                    padding: 0.5rem 1rem;
                    ::nt-child(1){
                        width: 20vw;
                        justify-self: flex-end;
                    }
                    &::nth-child(2){
                        width: 60vw;
                        justify-self: flex-start;
                    }
                }
            }
        }
    }

}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}



/* Estilos para pantallas medianas */
/*
@media screen and (max-width: 991px) {
    header{
        background-color: rgba(0,255,0,0.5);
        position: fixed;
        top: 0;
    }

    .menu {
        ul {
            top: 0;
                li{
                    background-color: rgba(0,255,0,0.5);
                }
        }
    }
}
*/
/* Estilos para pantallas grandes */

@media screen and (min-width: 992px) {
header{
    width: 100%;
        section{
            section{
                //width: 40%;
                justify-content: space-evenly;
                    div{
                        h1{
                            margin: 0rem 3rem;
                            font-size: 1.5rem;
                            text-align: center;
                            }
                        }
            }
        }
}

#logo{
    height: 4.5rem;
    width: auto;
}

.menu-btn {
display: none;
}

.navbar{
    width: auto;

}

.menu {
    //@at-root: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;

        ul{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        width: fit-content;
        top: 0rem;
            &:hover {
                    background-color: transparent;
            }

            li{
                //position: static;
                color: transparent;
                //padding: 0rem 1rem;

                a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                    width: auto;
                        div{
                    ::nt-child(1){
                        width: auto;
                    }
                    &::nth-child(2){
                        width: auto;
                    }
                }
            }
        }

        ul:last-child {
        padding-right: 0;
        }
    }
}
}