/* ********** Botón Menu de hamburguesa ********** */
.menu-btn {
    //outline: thin solid blue;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.menu-btn img {
    fill: transparent;
    height: 1.5rem;
    width: auto;
}

.none {
    display: none;
}

/* ********** Barra de navegación-Menú hamburguesa  ********** */

.menu {
    background-color: transparent;
    opacity: 0;
    pointer-events: none;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        li {
            width: 100%;
            height: 4rem;
            &:hover {
                background-color: #3ab9c8;
            }
            a {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                color: #fff;
                border-bottom: 0.1px solid #5e3383;

                div {
                    //padding: 0.5rem;
                    &:first-child {
                        width: 50%;
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        div {
                            img {
                                height: 2.3rem;
                                width: auto;
                            }
                        }
                    }
                    &:nth-child(2) {
                        width: 50%;
                        height: auto;
                        text-align: left;
                        font-size: 1.5rem;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

//Pantallas medianas
@media screen and (min-width: 576px) and (max-width: 991px) {
    .menu-btn img {
        fill: transparent;
        height: 3rem;
        width: auto;
    }

    .menu {
        ul {
            justify-content: center;
            align-items: center;
            li {
                height: 4rem;
                padding: 0.3rem 0rem;
                a {
                    border-bottom: 0px;
                    div {
                        img {
                            height: 3rem;
                            width: auto;
                            margin-right: 2rem;
                        }
                        font-size: 2rem;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

//Pantallas grandes

@media screen and (min-width: 992px) {
    .menu-btn {
        display: none;
    }

    .navbar {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .menu {
        //@at-root: static;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        opacity: 1;
        pointer-events: auto;
        height: 100%;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: 100%;
            &:hover {
                background-color: transparent;
            }

            li {
                color: transparent;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                &:hover {
                    background-color: #3ab9c8;
                }

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 0px;
                    div {
                        width: max-content;
                        padding: 0vw 1vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:first-child {
                            width: fit-content;
                            height: auto;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            div {
                                img {
                                    height: 5vh;
                                    width: auto;
                                }
                            }
                        }
                        &:nth-child(2) {
                            width: fit-content;
                            height: auto;
                            text-align: center;
                            font-size: 3vh;
                            font-weight: 300;
                        }
                    }
                }
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}
