//Escala de grises
$black: #000;//Black
$gray1: #111;//Almost black
$gray2: #222;//Tinted black
$gray3: #333;//Light black
$gray4: #444;//Pale black
$gray5: #555;//Dark gray
$gray6: #666;//Shaded gray
$gray7: #777;//Medium gray
$gray8: #888;//Tinted gray
$gray9: #999;//Light gray
$gray10: #aaa;//Pale gray
$gray11: #bbb;//Silver
$gray12: #ccc;//Dark white
$gray13: #ddd;//Shaded white
$gray14: #eee;//Almost white
$white: #fff;//White

//Colores logo veterinaria
$color1: #3AB9C8; //hsl(186, 56%, 51%)
$color2: #5E3383; //hsl(272, 44%, 36%)
$color3: #F6A51E; //hsl(38, 92%, 54%)
$color4: #A8C83F; //hsl(74, 55%, 52%)


// escala primario celeste
$color-celeste-0: #3AB7C8; // Principal celeste*/
$color-celeste-1: #A0E3EC;
$color-celeste-2: #64CAD9;
$color-celeste-3: #15A5B9;
$color-celeste-4: #027E8F;

// transparentes celeste
$color5-celeste-4-transparente: #027E8F99;

// escala primario violeta

$color-violeta-0: #5E3383;	// Principal violeta*/
$color-violeta-1: #AF96C4;
$color-violeta-2: #7E599F;
$color-violeta-3: #481C6E;
$color-violeta-4: #2F0752;

// transparentes violeta
$color-verde-transparente:#5E338399;

// escala primario naranja

$color-naranja-0: #F6A51E;	// Principal naranja*/
$color-naranja-1: #FFD185;
$color-naranja-2: #FFBE52;
$color-naranja-3: #C77D02;
$color-naranja-4: #9A6000;

// transparentes 
$color-naranja-3-transparente: #C77D0299;

// escala primario verde

$color-verde-0: #A8C83F;	// Principal verde*/
$color-verde-1: #E6F7AC;
$color-verde-2: #CDE96F;
$color-verde-3: #88A91D;
$color-verde-4: #668403;

// transparentes verde
$color-verde-transparente:#66840399;