//Grayscale
$black: #000;
$gray10: #00000081; //rgba(0, 0, 0, 0.504)
$gray9: #23232300; //rgba(35, 35, 35, 0)
$gray8: #212121; //rgba(33, 33, 33, 1)
$gray7: #58585880; //rgba(88, 88, 88, 0.5)
$gray6: #9b9b9b6f; //rgba(155, 155, 155, 0.44)
$gray5: #ffffff50; //rgba(255, 255, 255, 0.31)
$gray4: #969696e6; //150,150,150,0.9
$gray3: #ffffffb3; //rgba(255, 255, 255, 0.7);
$gray2: #ccc; //rgba(204, 204, 204, 1)
$gray1: #f2f2f2; //rgba(242, 242, 242, 1)
$white: #fff;

//Colors
$color1: #9dffe5; //
$color2: #490377;
$color3: #dc8904;
