.carrito_de_compras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 3vh 0vh 6vh;
    > article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        &:first-child {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin: 4vh 0vh;
            h2 {
                font-size: 1.5rem;
                color: #5e3383;
                font-weight: 700;
                text-align: center;
                span{
                    font-style: italic;
                    font-weight: 300;
                }
            }
        }
        &:nth-child(2) {
            form {
                display: flex;
                flex-direction: column;
                width: 100%;
                > section {
                    &:first-child {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items:center;
                        border-color: #000;
                        border-style: solid;
                        border-width: 0.2rem;
                        border-radius: 1rem 1rem 0rem 0rem;
                        background-color: #5e3383;
                        width: 100%;
                        div{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding: 0.5rem 0rem;
                            &:first-child{
                                width: 70%;
                                h2{
                                color:#fff;
                                font-size: 1.5rem;
                                text-align: center;
                                }
                                img{
                                    height: 2.5rem;
                                    width: auto;
                                }
                                
                            }
                            &:last-child{
                                width: 30%;
                                img{
                                    height: 2.5rem;
                                    width: auto;
                                }
                            }
                        }
                    }
                    &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8){
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items:center;
                        border-color: #000;
                        border-style: solid;
                        border-width: 0rem 0.2rem 0.2rem;
                        background-color: #5e33832b;
                        width: 100%;
                        padding:0.5rem 0rem;
                        div{
                            &:first-child{
                            color:#5e3383;
                            font-size: 1rem;
                            font-weight: 600;
                            width: 50%;
                            text-align: center;
                            }
                            &:last-child{
                                width: 50%;
                                select{
                                    width: 80%;
                                    padding: 0.3rem;
                                    border-color: #5e3383;
                                    border-radius: 0.2rem;
                                    color: #5e3383;
                                    font-style: italic;
                                    outline: none;
                                    option{
                                        border-color: #5e3383;
                                        border-radius: 0.2rem;
                                        &:hover{
                                            color: #fff;
                                            background-color: #5e3383;
                                        }
                                    }
                                }
                                
                            }
                        }
                        
                    }
                    &:nth-child(3), &:nth-child(5), &:nth-child(7){
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items:center;
                        border-color: #000;
                        border-style: solid;
                        border-width: 0rem 0.2rem 0.2rem;
                        background-color: #5e338395;
                        width: 100%;
                        padding:0.5rem 0rem;
                        div{
                            &:first-child{
                            color:#5e3383;
                            font-size: 1rem;
                            font-weight: 600;
                            width: 50%;
                            text-align: center;
                            }
                            &:last-child{
                                width: 50%;
                                select{
                                    width: 80%;
                                    padding: 0.3rem;
                                    border-color: #5e3383;
                                    border-radius: 0.2rem;
                                    color: #5e3383;
                                    font-style: italic;
                                    outline: none;
                                    option{
                                        border-color: #5e3383;
                                        border-radius: 0.2rem;
                                        &:hover{
                                            color: #fff;
                                            background-color: #5e3383;
                                        }
                                    }
                                }
                                
                            }
                        }
                        
                    }
                    &:last-child{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items:center;
                        border-color: #000;
                        border-style: solid;
                        border-width: 0rem 0.2rem 0.2rem;
                        border-radius: 0rem 0rem 1rem 1rem;
                        background-color: #3ab7c8;
                        width: 100%;
                        display: flex;
                        &:hover{
                            background-color: #3ab7c847;
                        }
                        h2{
                            color:#fff;
                            font-size: 1.5rem;
                            text-align: center;
                        }
                        img{
                            height: 2.5rem;
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}


.listado_de_productos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
    >article{
        border-color: #000;
        border-style: solid;
        border-width: 0rem 0.2rem 0.2rem;
        padding:0.5rem 0rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:center;
        &:nth-child(odd){
        background-color: #5e338395;
        }
        &:nth-child(even){
        background-color:#5e33832b;
        }
        >div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            &:first-child{
            width: 40%;
                img{
                    width: 35vw;
                    height: auto;
                }
            }
            &:last-child{
            width: 60%;
                >div{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items:center;
                    padding: 0.3rem 0rem;
                    color: #5e3383;
                    >span{
                        &:first-child{
                            font-weight: 700;
                            font-size: 0.9rem;
                        }
                        &:last-child{
                            font-size: 0.8rem;
                            font-weight: 300;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
}

.agregar_quitar_carrito{
    width: 90%;
    height: 2.5rem !important;
    span{
        font-size: 1.5rem !important;
        text-align:center;
        &:first-child{
            width: 20%;
            background-color:#dc3545;
            color:#fff;
            border-color: #000;
            border-style: solid;
            border-width: 0.1rem;
            border-radius: 0.2rem 0rem 0rem 0.2rem;
        }
        &:nth-child(2){
            width: 20%;
            background-color:#ddd;
            color:#5e3383;
            border-color: #000;
            border-style: solid;
            border-width: 0.1rem 0rem;
            border-radius: 0rem;
        }
        &:last-child{
            width: 20%;
            background-color:#198754;
            color:#fff;
            border-color: #000;
            border-style: solid;
            border-width: 0.1rem;
            border-radius: 0rem 0.2rem 0.2rem 0rem;
        }
    }
}

/* Estilos para pantallas medianas */
@media all and (min-width: 576px) and (max-width: 991px) {
    .carrito_de_compras {
        margin-top: 15vh;
    }
}

/* Estilos para pantallas grandes */
@media all and (min-width: 992px) {
    .carrito_de_compras {
        margin-top: 35vh;
    }
}

.titulo_resumen_carrito_de_compras {
    h2 {
        font-size: 1.5rem;
        color: #5e3383;
        font-weight: 300;
        text-align: center;
    }
}

.resumen_carrito_de_compras {
    > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    > article {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > section {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 90%;
            padding: 0.5rem;
            text-align: center;
            &:first-child {
                background-color: #5e3383;
                border-color: #000;
                border-style: solid;
                border-width: 0.2rem;
                border-radius: 1rem 1rem 0rem 0rem;
                color: #fff;
                font-weight: 700;
                div {
                    &:first-child {
                        width: 10%;
                    }
                    &:nth-child(2) {
                        width: 25%;
                        display: flex;
                        flex-direction: column;
                        span {
                            &:first-child {
                                font-weight: normal;
                            }
                            &:last-child {
                                font-weight: 800;
                            }
                        }
                    }
                    &:nth-child(3) {
                        width: 35%;
                        font-size: 2rem;
                    }

                    &:nth-child(4) {
                        height: 3rem;
                        width: auto;
                        fill: #fff;
                        margin-right: 2rem;
                    }
                    &:last-child {
                        img {
                            height: 3rem;
                            width: auto;
                        }
                    }
                }
            }

            &:nth-child(2) {
            }
            &:nth-child(3) {
            }
            &:nth-child(4) {
            }
            &:nth-child(5) {
            }
        }
    }
}
