.carrousel_de_perros {
    position: relative;
    width: 100vw;
    height: 52vw;
}

.carrusel-contenido {
    padding: 0 auto;
    overflow: hidden;
    text-align: center;
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 52vw;
}

#gatos_carrusel-caja {
    -moz-animation: gatos_automatizacion 15s infinite linear;
    -o-animation: gatos_automatizacion 15s infinite linear;
    -webkit-animation: gatos_automatizacion 15s infinite linear;
    animation: gatos_automatizacion 20s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 52vw;
    width: 500%;
}

.gatos_carrusel-elemento {
    float: left;
    width: 20%;
}

.caratula {
    height: 52vw;
    width: 85vw;
    padding: 5vh 0vh;
}

#gatos_carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    position: absolute;
    z-index: -100;
}
