.derivador {
    padding: 5vh 10vw 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem 0rem;
        margin: 3.5vh 0vh;
        background-color: #5e3383;
        border: solid 1px #481c6e;
        border-radius: 10px;
        transition: background-color 0.3s, border 0.3s,
            box-shadow 0.3s;
        &:hover {
            background-color: #3ab7c8;
            border: solid 1px #eee;
            box-shadow: 0 0 4px #eb50ff4f;
            cursor: pointer;
        }
        a {
            text-align: center;
            color: #fff;
            font-weight: 800;
            transition: color 0.2s;
            //&:hover {
                //color: #5e3383;
            //}
            img {
                height: 1rem;
                width: auto;
                margin-left: 1rem;
            }
        }
    }
}

@media all and (min-width: 576px) {
    .derivador {
        padding: 15vh 20vw 10vh;

        > div {
            padding: 0.8rem 0rem;
            margin: 1rem 0rem;
            width: 100%;
            a {
                font-size: 1.5rem;
                img {
                    height: 1.8rem;
                }
            }
        }
    }
}

@media all and (min-width: 992px) {
    .derivador {
        padding: 30vh 5vw 20vh;
        flex-direction: row;
        flex-wrap: wrap;
        > div {
            padding: 2vh 0vw;
            margin: 5vh 3vw;
            width: 38vw;
            /*a {
                font-size: 2rem;
                img {
                    height: 2.5rem;
                }
            }*/
        }
    }
}
