@use "../a_themes/typography" as font;

.articulo_mapa {
    margin-top: 5rem;
}

#dondeestamos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#donde_estamos {
    padding: 5rem 0rem;
    h2 {
        font-family: font.$roboto, font.$sanf-serif;
        font-style: italic;
        font-weight: 300;
        color: #777;
        text-align: center;
        font-size: 5rem;
    }
}

.dondeestamos img {
    height: 15vw;
}

.dondeestamos__parrafo {
    font-family: "Roboto", sans-serif;
    font-size:2rem;
}

.dondeestamos__domicilio {
    padding: 3rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.dondeestamos img {
    height: 10rem;
}

.dondeestamos p {
    font-size: 1rem;
}

#map {
    height: 10rem;
    width: auto;
    border: 0;
}


@media only screen and (min-width: 992px) {
    #map {
        height: 20vw;
        width: 25vw;
    }
}