@use "../a_themes/typography" as font;

.quienes_somos {
    padding: 3rem 0rem 0rem;
    position: relative;
    h2 {
        font-family: font.$roboto, font.$sanf-serif;
        font-style: italic;
        font-weight: 300;
        color: #777;
        text-align: center;
        width: 100%;
        //padding: 0rem 0rem 3rem;
        font-size: 3.4rem;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            padding: 1rem;
            flex-direction: column;
            img {
                width: 45vw;
                border-radius: 50%;
            }
            p {
                font-family: font.$roboto, font.$sanf-serif;
                font-style: italic;
                font-weight: 300;
                color: #777;
                text-align: center;
                font-size: 1.3rem;
                padding: 1rem 1.5rem;
            }
        }
    }
}

/* Estilos para pantallas medianas */
@media all and (min-width: 576px) and (max-width: 991px) {
    .quienes_somos {
        h2 {
            font-size: 5rem;
        }
        div {
            div {
                img {
                    width: 55vw;
                }
                p {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

/* Estilos para pantallas grandes */
@media all and (min-width: 992px) {
    .quienes_somos {
        h2 {
            font-size: 10vh;
        }
        div {
            flex-direction: row;
            div {
                p {
                    font-size: 6vh;
                }
            }
        }
    }
}
