.registrarse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 10vh 10vw;
    > div {
        &:first-child {
            background-color: #5e3383;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            border-color: #000;
            border-style: solid;
            border-width: 0.2rem;
            border-radius: 1rem 1rem 0rem 0rem;
            h2 {
                font-size: 2rem;
                color: #fff;
                text-align: center;
            }
            img {
                height: 3rem;
                width: auto;
            }
        }
        &:nth-child(2) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            background-color: #ccc;
            border-color: #000;
            border-style: solid;
            border-width: 0rem 0.2rem 0.2rem 0.2rem;
            }
        &:nth-child(3) {
            background-color: #3ab7c8;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem 0rem;
            width: 100%;
            border-color: #000;
            border-style: solid;
            border-width: 0rem 0.2rem 0.2rem 0.2rem;
            border-radius: 0rem 0rem 1rem 1rem;
            &:hover{
                background-color:#a0e3ec;
            }
            a {
                text-align: center;
                font-size: 1.2rem;
                font-weight: 700;
                text-decoration: none;
                color: #fff;
                img {
                    height: 1.2rem;
                    width: auto;
                }
            }
        }
    }
}

.formulario_de_registro {
                    background-color: transparent;
                    border-style: none;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 3vh;
                    >div{
                        padding: 0.5rem;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        button {
                            width: 70%;
                            margin: 2vh 0vh;
                            font-size: 1.5rem;
                            background-color: #198754;
                            outline: none;
                            padding: 10px 20px;
                            border: solid 1px #eee;
                            border-radius: 10px;
                            transition: background-color 0.2s, border 0.2s,
                            box-shadow 0.2s;
                            color: #fff;
                            font-weight: 800;
                            &:hover {
                                background-color: #19875484;
                                border: solid 0.1rem #eee;
                                box-shadow: 0 0 0.1rem #eb50ff4f;
                                cursor: pointer;
                                color: #fff;
                            }
                            &:focus {
                                background-color: #19875484;
                                border: solid 0.1rem #eee;
                                box-shadow: 0 0 0.3rem #eb50ff4f;
                                cursor: pointer;
                                color: #fff;
                            }
                        }
                        p {
                            padding: 0rem  1.5rem;
                            text-align: justify;
                            line-height: 1.3rem;
                        }
                        label {
                            padding: 0.5vw 0.5vw 1vw 0.5vw;
                            font-size: 1rem;
                            color: #5e3383;
                        }
                        input {
                            font-size: 1rem;
                            background-color: #eee;
                            outline: none;
                            padding: 10px 20px;
                            border: solid 1px #481c6e;
                            border-radius: 10px;
                            transition: background-color 0.2s, border 0.2s,
                                box-shadow 0.2s;
                            color: #111;
                            width: 70%;
                            &:hover {
                                background-color: #fff;
                                border: solid 1px #eee;
                                box-shadow: 0 0 4px #eb50ff4f;
                                cursor: pointer;
                            }
                            &:focus {
                                background-color: #fff;
                                border: solid 0.1rem #eee;
                                box-shadow: 0 0 0.3rem #eb50ff4f;
                                cursor: pointer;
                            }
                        }
                        &:first-child {
                        background-color: #af96c47c;
                        color: #dd0319;
                        font-weight: 700;
                        font-size: 0.8rem;
                        border-bottom: #000 0.2rem solid;
                        text-align: justify;
                        padding: 1.5rem;
                        line-height: 1.3rem;
                        }
                    }
}

.black{
    font-weight: 700;
}

//Pantallas medianas
@media all and (min-width: 576px) and (max-width: 991px) {
    .registrarse {
        margin-top: 20vh;
    }
}

//Pantallas grandes
@media screen and (min-width: 992px) {
    .registrarse {
        width: 40vw;
        margin: 30vh 30vw 10vh 30vw;
        > div {
            &:first-child {
                img {
                    height: 4rem;
                    width: auto;
                }
            }
            &:nth-child(2) {
                form {
                    gap: 1vh;
                    div {    
                        label {
                            padding: 0.5vw;
                            font-size: 1.2rem;
                        }
                        input {
                            font-size: 1.2rem;
                            padding: 10px 20px;
                            border: solid 1px #481c6e;
                            border-radius: 10px;
                            transition: background-color 0.2s, border 0.2s,
                                box-shadow 0.2s;
                            color: #111;
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
}