//Carousel de imagenes






#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 500px;
    width: 300%;
}

#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    position: absolute;
    z-index: -100;
}

.carrusel-elemento {
    float: left;
    width: 33.333%;
}

.servicios_carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 40vw;
    width: 300%;
}

.servicios_carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    position: absolute;
    z-index: -100;
}

.servicios_carrusel-elemento {
    float: left;
    width: 33.333%;
}



.smallscreen_carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 30vw;
    width: 300%;
}

.smallscreen_carrusel-contenido {
    display: none;
    margin: 15vw auto;
    overflow: hidden;
    text-align: center;
    position: absolute;
}

.smallscreen_carrusel-elemento {
    height: 35vw;
    float: left;
    width: 33.333%;
}

.smallscreen_carrusel-elemento img {
    height: 100%;
    width: auto;
}

@media only screen and (max-width: 1064px) {
    #carrusel-contenido {
        display: none;
    }

    .smallscreen_carrusel-contenido {
        display: block;
    }
}

@-moz-keyframes gatos_automatizacion {
    0% {
        margin-left: 0;
    }

    17% {
        margin-left: 0;
    }

    22% {
        margin-left: -100%;
    }

    39% {
        margin-left: -100%;
    }

    44% {
        margin-left: -200%;
    }

    61% {
        margin-left: -200%;
    }

    66% {
        margin-left: -300%;
    }

    83% {
        margin-left: -300%;
    }

    88% {
        margin-left: -400%;
    }

    98% {
        margin-left: -400%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes gatos_automatizacion {
    0% {
        margin-left: 0;
    }

    17% {
        margin-left: 0;
    }

    22% {
        margin-left: -100%;
    }

    39% {
        margin-left: -100%;
    }

    44% {
        margin-left: -200%;
    }

    61% {
        margin-left: -200%;
    }

    66% {
        margin-left: -300%;
    }

    83% {
        margin-left: -300%;
    }

    88% {
        margin-left: -400%;
    }

    98% {
        margin-left: -400%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes gatos_automatizacion {
    0% {
        margin-left: 0;
    }

    17% {
        margin-left: 0;
    }

    22% {
        margin-left: -100%;
    }

    39% {
        margin-left: -100%;
    }

    44% {
        margin-left: -200%;
    }

    61% {
        margin-left: -200%;
    }

    66% {
        margin-left: -300%;
    }

    83% {
        margin-left: -300%;
    }

    88% {
        margin-left: -400%;
    }

    98% {
        margin-left: -400%;
    }

    100% {
        margin-left: 0;
    }
}