.articulo_mapa {
    margin-top: 5vw;
}

#dondeestamos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dondeestamos img {
    height: 15vw;
}

.dondeestamos__parrafo {
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
}

#map {
    height: 20vw;
    width: 25vw;
    border: 0;
}

.dondeestamos__domicilio {
    margin-top: 1vw;
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
}

@media only screen and (max-width: 1064px) {
    .dondeestamos img {
        height: 150px;
    }

    .dondeestamos p {
        font-size: 15px;
    }

    #map {
        height: 150px;
        width: auto;
    }
}
