@use "../1-themes/colors" as colores;


    header {
    width: 100%;
    color: colores.$white;
    //text-shadow: 2px 2px 1px colores.$black;
    z-index: 10;
    margin: 0.5rem;

    section{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
        section{
            width: 60%;
            div{
            h1{
                font-size: 1rem;
                text-align: center;
                }
            }
        }
    }
}

.logo_y_telefono{
    background-color: colores.$white;
    display: flex;
    flex-direction: column;
    padding: 0rem 0.5rem;
    div{
        width: max-content;
        align-self: center;
    }
}

.div-telefono{
    display: flex;
    span{
        padding: 0.1rem;
        align-self: center;
        justify-self: center;
        font-size: 0.8rem;
        text-align: center;
        color: #5E3383;
    }

}

#telefono{
    align-self: center;
    justify-self: center;
}

#logo{
    height: 3rem;
    width: auto;
}

/* ********** Botón Menu de hamburguesa ********** */
.menu-btn {
    //outline: thin solid blue;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.menu-btn img {
    fill: transparent;
}

.none {
    display: none;
}


/* ********** Menu  ********** */


.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}
    
    .position {
    background-color: rgba(255,0,0,0.5);
    }

.menu ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    li{
        background-color: rgba(255,0,0,0.5);
        width: 120vw;
        a{
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            color: var(--first-color);
            display: flex;
            flex-direction: row;
            justify-content:flex-start;
            align-items:center;
            &:hover {
                background-color: colors.$color1;
            }
            div{
                padding: 0.5rem 1rem;
            }
        }
    }
}



/* Estilos para pantallas pequeñas */
@media screen and (max-width: 575px) {


.div-menu{
    position: sticky;
    left: 0;
    bottom: 4.5rem;
}

.menu {
    position: relative;
}

    .position {
    position: absolute;
    bottom: 0;
    background-color: rgba(255,0,0,0.5);
    }

.menu ul {
    position: absolute;
    bottom: 0;
    left: 0;
    }
}


/* Estilos para pantallas medianas */
@media screen and (min-width: 576px) {
    .position {
    position: fixed;
    top: 0;
    }

    header{
    background-color: rgba(0,255,0,0.5);

    }

    .menu ul {
    top: 0;
    left: 0;
        li{
        background-color: rgba(0,255,0,0.5);
        width: 100vw;
        }
    }

    .div-menu{
        position: fixed;
        top:0;
        left: 0;
}
}
/* Estilos para pantallas grandes */

@media screen and (min-width: 992px) {
header{
background-color:  colores.$color5;
    section{
        section{
        width: 40%;
        justify-content: space-evenly;
        div{
            h1{
                margin-left: 5rem;
                font-size: 1.5rem;
                text-align: center;
                width: 45%;
                }
            }
        }
    }
}

#logo{
    height: 4.5rem;
    width: auto;
}

.menu-btn {
display: none;
}

.menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;

        ul{
        position: relative;
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
            &:hover {
                    background-color: transparent;
            }

            li{
                position: static;
                padding: 0rem 1rem;

                a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                }
            }
        }

        ul:last-child {
        padding-right: 0;
        }
    }
}

